mKGQAgent_Plan_LLM=
mKGQAgent_Execution_compact_LLM=
mKGQAgent_Execution_original_LLM=
mKGQAgent_Translation_LLM=
mKGQAgent_EAT_LLM=
mKGQAgent_Validation_LLM=
mKGQAgent_Entities_LLM=
mKGQAgent_Shapes_LLM=

mKGQAgent_Run_no_changes=

DBPEDIA_SPARQL_URL=http://dbpedia.org/sparql
MODEL_NAME=gpt-4o-mini